// Put your custom SCSS code here
*,
:after,
:before {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border: 0 solid #e5e7eb
}

:root {
  --color-neutral-50: 250,250,250;
  --color-neutral-100: 245,245,245;
  --color-neutral-200: 229,229,229;
  --color-neutral-300: 212,212,212;
  --color-neutral-400: 163,163,163;
  --color-neutral-500: 115,115,115;
  --color-neutral-600: 82,82,82;
  --color-neutral-700: 64,64,64;
  --color-neutral-800: 38,38,38;
  --color-neutral-900: 23,23,23;
  --color-neutral-950: 10,10,10;
}

div.techdoc {
   counter-reset: td-h2 0;
   display: block;
}

.techdoc h2 {
   counter-reset: td-h3 0;
}

.techdoc h3 {
   counter-reset: td-h4 0;
}

.techdoc h4 {
   counter-reset: td-h5 0;
}

.techdoc h5 {
   counter-reset: td-h6 1;
}

.techdoc h2::before {
   counter-increment: td-h2;
   content: counter(td-h2) ": ";
}

.techdoc h3::before {
   counter-increment: td-h3;
   content: counter(td-h2) "." counter(td-h3) ": ";
}

.techdoc h4::before {
   counter-increment: td-h4;
   content: counter(td-h2) "." counter(td-h3) "." counter(td-h4) ": ";
}

.techdoc h5::before {
   counter-increment: td-h5;
   content: counter(td-h2) "." counter(td-h3) "." counter(td-h4) "." counter(td-h5) ": ";
}

.techdoc h6::before {
   counter-increment: td-h6;
   content: counter(td-h2) "." counter(td-h3) "." counter(td-h4) "." counter(td-h5) "." counter(td-h6) ": ";
}

h1, .h1 {
   font-size: calc(1.375rem + 1.5vw);
}

h2, .h2 {
   font-size: calc(1.325rem + 0.9vw);
   text-decoration-line: underline;
  // font-variant: small-caps;
}

h3, .h3 {
   font-size: calc(1.3rem + 0.6vw);
}

h4, .h4 {
   font-size: calc(1.275rem + 0.2vw);
}

h5, .h5 {
   font-size: 1.25rem;
}

h6, .h6 {
   font-size: 1.125rem;
}

/*
ol.thulite-steps li {
   background-color: rgba(var(--color-neutral-50),1);
}
ol.thulite-steps li:nth-child(even) {
   background-color: rgba(var(--color-neutral-100),0.5);
}
*/

ol.thulite-steps > li > p:first-child {
  font-weight: bold;
}

/*
ol.thulite-steps li:first-child p:last-child {
   border-bottom: 1px solid gray;
}
*/

ol.thulite-steps > li > *:not(:first-child) {
   /* border-bottom: 1px solid gray; */
   margin-left: 1rem;
}

/*
.docs-content :where(h3):not(:where([class=:not(docs-content)],[class=:not(docs-content)] *)) {
    color: #0f172a;
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 1.2em;
    margin-bottom: .6em;
    line-height: 1.8;
}

.hb-steps {
   margin-left: 1rem;
   margin-bottom: 3rem;
   border-left-width: 1px;
   --tw-border-opacity: 1;
   border-color: rgba(229,231,235,var(--tw-border-opacity));
   padding-left: 1.5rem;
   counter-reset: hb-step
}

:is([data-bs-theme="dark"] .hb-steps) {
   --tw-border-opacity: 1;
   border-color: rgba(var(--color-neutral-600),var(--tw-border-opacity))
}

.hb-steps h3 {
   border-top-width: 0.25px;
   counter-increment: hb-step
}

.hb-steps h3:before {
   position: absolute;
   height: 36px;
   width: 36px;
   border-radius: 9999px;
   border-width: 4px;
   --tw-border-opacity: 0.8;
   border-color: rgba(var(--color-neutral-950),var(--tw-border-opacity))
}

:is([data-bs-theme="dark"] .hb-steps h3):before {
   --tw-border-opacity: 1;
   border-color: rgba(203,213,225,var(--tw-border-opacity))
}

.hb-steps h3:before {
   --tw-bg-opacity: 1;
   background-color: rgba(243,244,246,var(--tw-bg-opacity))
}

:is([data-bs-theme="dark"] .hb-steps h3):before {
   --tw-bg-opacity: 1;
   background-color: rgba(23,24,28,var(--tw-bg-opacity))
}

.hb-steps h3:before {
   text-align: center;
   text-indent: 0px;
   font-size: 1rem;
   font-weight: 800;
   --tw-text-opacity: 1;
   color: rgba(var(--color-neutral-700),var(--tw-text-opacity))
}

:is([data-bs-theme="dark"] .hb-steps h3):before {
   --tw-text-opacity: 1;
   color: rgba(var(--color-neutral-200),var(--tw-text-opacity))
}

.hb-steps h3:before {
   margin-top: 3px;
   margin-left: -41px;
   content: counter(hb-step)
}

*/
